#btn{
    height: 37px;
    border-radius: 4px;
    border: none;
    background-color: white;
    outline: none;
}
#btn:hover{
    background-color: black;
    color: white;

}
.screen{
    height: 70vh;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
/* .repoBtn{
    display: none;
} */
